---
import Link from "./Link.astro";
---

<nav slot="nav" class="flex gap-10 max-[1300px]:flex-col max-[1300px]:gap-5">
  <Link href="/">Inicio</Link>
  <Link href="/#about">Acerca de</Link>
  <Link href="/#sponsors">Patrocinadores</Link>
  <Link href="/gallery">Galeria</Link>
  <Link href="/#fqa">FQA</Link>
  <Link href="/#contact">Contacto</Link>
</nav>
