---
import Link from "./Link.astro";
---

<nav slot="nav" class="flex gap-10 max-lg:flex-col">
  <Link href="/">Inicio</Link>
  <Link href="/#about">Acerca de</Link>
  <Link href="/#sponsors">Patrocinadores</Link>
  <Link href="/#fqa">FQA</Link>
  <Link href="/#contact">Contacto</Link>
</nav>
