---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import MainNav from "@/components/MainNav.astro";
import Label from "@/components/Label.astro";
import Input from "@/components/Input";
import Button from "@/components/Button";
import Particles from "@/components/Particles";
import "@/styles/globals.css";
---

<Layout title="HACKMX - Recuperar contraseña">
  <Header slot="header" withMenu mainRoute="/">
    <MainNav slot="nav" />
  </Header>
  <div slot="content">
    <div
      class="w-full md:h-[calc(100vh-8rem)] min-h-[calc(100vh-7rem)] flex justify-center items-center relative"
    >
      <Particles client:only />
      <div class="w-full h-full flex items-center justify-center">
        <div class="flex flex-col gap-5 max-md:container w-[600px] p-7">
          <div
            class="flex flex-col gap-10 bg-p-secondary-background p-10 rounded-md"
          >
            <h2 class="text-xl font-bold">Recuperar contraseña</h2>
            <div class="flex flex-col gap-7">
              <div class="flex flex-col gap-2">
                <Label>Correo electrónico</Label>
                <Input
                  id="email"
                  type="email"
                  placeholder="a01234567@tec.mx"
                  required
                />
              </div>
            </div>
            <Button id="forgot">Recuperar contraseña</Button>
          </div>
          <div class="flex gap-2">
            <div class="text-p-secondary-text">¿Quieres volver?</div>
            <a href="/login" class="text-p-purple-light">Volver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
