---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import LinkAsButton from "@/components/LinkAsButton.astro";
import MainNav from "@/components/MainNav.astro";
import Background from "@/components/Background.astro";
import Sponsors from "@/components/Sponsors";
import Card from "@/components/Card";
import Bug from "@/components/models/Bug";
import Tec from "@/components/Tec";
import "@/styles/globals.css";
---

<Layout title="HACKMX - Principal">
	<Header slot="header" withMenu mainRoute="/dashboard">
		<MainNav slot="nav" />
		<Fragment slot="action">
			<LinkAsButton href="/login">Inscribirse</LinkAsButton>
		</Fragment>
	</Header>
	<div slot="content" class="w-full">
		<div
			class="w-full md:min-h-[calc(100vh-8rem)] min-h-[calc(100vh-7rem)] flex justify-center items-center relative"
		>
			<div class="flex flex-col gap-3 p-16 relative z-20">
				<h1 class="md:text-9xl text-7xl font-bold text-center">HACKMX VI</h1>
				<p class="text-center md:text-4xl text-2xl">
					Hackathon de Innovación y Tecnología
				</p>
				<div>
					<p class="text-center text-white">
						by
						<a
							href="https://tec.mx"
							class="text-p-accent md:text-xl text-base underline"
							target="_blank"
						>
							Tecnológico de Monterrey
						</a>
					</p>
				</div>
				<div class="flex justify-center pt-3">
					<Tec />
				</div>
			</div>
			<div class="absolute h-full w-full text-white">
				<Background />
			</div>
		</div>
		<section id="about" class="flex flex-col gap-10 py-16 pt-32">
			<div class="flex flex-col gap-7 lg:px-36 md:px-24 px-10">
				<h2 class="text-4xl font-bold text-center">Bienvenido a HACKMX VI</h2>
				<p class="text-lg text-center text-p-secondary-text">
					El Tecnológico de Monterrey se complace en anunciar la sexta edición
					de hackmx, un evento centrado en la inteligencia artificial que
					promete ser un punto de encuentro para estudiantes talentosos y
					apasionados de todos nuestros campus. Estamos entusiasmados de ver
					cómo esta comunidad diversa de innovadores se une para colaborar,
					compartir ideas y enfrentar juntos desafíos emocionantes en un
					ambiente dinámico y competitivo. Esta edición de hackmx no solo
					representa una oportunidad para que los participantes demuestren sus
					habilidades técnicas y creativas en el ámbito de la inteligencia
					artificial, sino también para que formen conexiones significativas y
					se inspiren mutuamente en su camino hacia la creación de soluciones
					tecnológicas impactantes.
				</p>
				<div class="h-96">
					<Bug client:only />
				</div>
				<h2 class="text-4xl font-bold text-center">¿Qué es HACKMX VI?</h2>
				<p class="text-lg text-center text-p-secondary-text">
					Hackmx es un evento anual de innovación y tecnología organizado por el
					Tecnológico de Monterrey, que reúne a estudiantes de todos sus campus
					para enfrentar retos de desarrollo tecnológico en un ambiente
					competitivo y colaborativo. Durante 24 a 32 horas, los participantes
					se sumergen en un maratón de programación y diseño donde la
					creatividad y la ingeniería se unen para dar vida a soluciones
					tecnológicas que respondan a los desafíos actuales propuestos por
					empresas líderes en la industria.
				</p>
				<p class="text-lg text-center text-p-secondary-text">
					Este hackathon no solo permite a los estudiantes demostrar sus
					habilidades técnicas, sino que también promueve el desarrollo de
					competencias en liderazgo, trabajo en equipo y comunicación efectiva.
					A través de hackmx, el Tecnológico de Monterrey busca fomentar un
					ecosistema de innovación que prepare a los futuros líderes para
					contribuir significativamente al avance tecnológico y social.
				</p>
			</div>
			<div class="flex flex-wrap justify-center gap-10 px-10">
				<Card>
					<div class="p-6 max-w-sm">
						<h3 class="text-xl font-semibold mb-4">
							Desarrollo de Habilidades
						</h3>
						<p class="text-base font-normal text-p-secondary-text">
							Los estudiantes ponen a prueba sus competencias técnicas y mejoran
							habilidades como liderazgo, trabajo en equipo y comunicación,
							preparándose para desafíos profesionales.
						</p>
					</div>
				</Card>
				<Card>
					<div class="p-6 max-w-sm">
						<h3 class="text-xl font-semibold mb-4">
							Conexión Academia-Industria
						</h3>
						<p class="text-base font-normal text-p-secondary-text">
							El evento facilita el networking con grandes empresas,
							proporcionando a los estudiantes oportunidades de prácticas y una
							visión directa de las necesidades del mercado.
						</p>
					</div>
				</Card>
				<Card>
					<div class="p-6 max-w-sm">
						<h3 class="text-xl font-semibold mb-4">Impacto y Alcance</h3>
						<p class="text-base font-normal text-p-secondary-text">
							hackmx trasciende los límites de un evento típico, impulsando la
							creación de proyectos que evolucionan a startups tecnológicas y
							generando un cambio real y medible.
						</p>
					</div>
				</Card>
			</div>
		</section>
		<section id="sponsors" class="flex flex-col gap-10 py-16">
			<div class="flex flex-col gap-7 lg:px-36 md:px-24 px-10">
				<h2 class="text-4xl font-bold text-center">Patrocinadores</h2>
				<p class="text-lg text-center text-p-secondary-text">
					El éxito de hackmx no sería posible sin el apoyo de nuestros
					patrocinadores, quienes creen en el talento y la creatividad de los
					estudiantes del Tecnológico de Monterrey. Gracias a su colaboración,
					podemos ofrecer a los participantes una experiencia única y
					enriquecedora que les permita desarrollar sus habilidades y conectar
					con la industria.
				</p>
			</div>
			<div>
				<Sponsors client:only />
			</div>
		</section>
		<section id="fqa" class="flex flex-col gap-10 py-16">
			<div class="flex flex-col gap-7 lg:px-36 md:px-24 px-10">
				<h2 class="text-4xl font-bold text-center">FQA</h2>
				<p class="text-lg text-center text-p-secondary-text">
					¿Tienes dudas sobre cómo participar en hackmx? Consulta nuestra
					sección de preguntas frecuentes para obtener más información sobre el
					evento, los requisitos de inscripción, los premios y mucho más.
				</p>
			</div>
			<div class="flex flex-col gap-10 lg:px-36 md:px-24 px-10">
				<Card>
					<div class="p-6 w-full">
						<h3 class="text-xl font-semibold mb-4">
							¿Quiénes pueden participar?
						</h3>
						<p class="text-lg text-p-secondary-text font-normal">
							hackmx está abierto a estudiantes de cualquier universidad, nivel
							académico y edad, siempre y cuando estén inscritos en una
							institución educativa.
						</p>
					</div>
				</Card>
				<Card>
					<div class="p-6 w-full">
						<h3 class="text-xl font-semibold mb-4">¿Cuáles son los premios?</h3>
						<p class="text-lg text-p-secondary-text font-normal">
							Los premios incluyen becas, mentorías, dispositivos tecnológicos,
							y oportunidades de prácticas. Además, los proyectos ganadores
							pueden recibir apoyo para su desarrollo y lanzamiento.
						</p>
					</div>
				</Card>
				<Card>
					<div class="p-6 w-full">
						<h3 class="text-xl font-semibold mb-4">¿Cómo me inscribo?</h3>
						<p class="text-lg text-p-secondary-text font-normal">
							Las inscripciones se realizan a través de nuestra plataforma en
							línea. Mantente atento a nuestras redes sociales y sitio web para
							conocer las fechas de registro y los requisitos de participación.
						</p>
					</div>
				</Card>
				<Card>
					<div class="p-6 w-full">
						<h3 class="text-xl font-semibold mb-4">
							¿Se necesita saber programar?
						</h3>
						<p class="text-lg text-p-secondary-text font-normal">
							No es necesario saber programar. Hackmx fomenta equipos
							multidisciplinarios, por lo que se recomienda contar con miembros
							que tengan habilidades en diseño, desarrollo y negocios.
						</p>
					</div>
				</Card>
				<Card>
					<div class="p-6 w-full">
						<h3 class="text-xl font-semibold mb-4">
							¿Cuánto tiempo dura el evento?
						</h3>
						<p class="text-lg text-p-secondary-text font-normal">
							El hackatón tiene una duración de 24 a 32 horas continuas, durante
							las cuales los participantes trabajan intensamente en sus
							proyectos.
						</p>
					</div>
				</Card>
				<Card>
					<div class="p-6 w-full">
						<h3 class="text-xl font-semibold mb-4">
							¿Qué pasa si no tengo equipo?
						</h3>
						<p class="text-lg text-p-secondary-text font-normal">
							No te preocupes si no tienes equipo. El día del evento se
							realizarán actividades para formar equipos con otros participantes
							que tampoco tengan uno.
						</p>
					</div>
				</Card>
				<Card>
					<div class="p-6 w-full">
						<h3 class="text-xl font-semibold mb-4">
							¿La participación tiene costo?
						</h3>
						<p class="text-lg text-p-secondary-text font-normal">
							No, la participación en hackmx es completamente gratuita. También
							se proporcionan servicios alimenticios y recreativos durante el
							evento sin costo alguno.
						</p>
					</div>
				</Card>
			</div>
		</section>
		<section id="contact" class="flex flex-col gap-10 py-16 pb-32">
			<div class="flex flex-col gap-7 lg:px-36 md:px-24 px-10">
				<h2 class="text-4xl font-bold text-center">Contacto</h2>
				<p class="text-lg text-center text-p-secondary-text">
					¿Tienes alguna pregunta o comentario sobre hackmx? ¡Contáctanos!
					Estamos a tu disposición para resolver tus dudas y brindarte la
					información que necesitas para participar en nuestro hackathon, solo
					manda un correo a <a
						href="mailto:hello@hackmx.com"
						class="text-p-accent font-semibold"
					>
						hello@hackmx.com
					</a>
				</p>
			</div>
		</section>
	</div>
</Layout>
